/* 
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
 */


/* 所有标签样式重置 */

body,
p,
span,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
ol,
li,
dl,
dt,
dd,
form,
input,
i,
em,
select {
    padding: 0;
    margin: 0;
}


/* 表格 */

table {
    /* 合并单元格之间得间距 */
    border-collapse: collapse;
    /* 单元格之间得间距 */
    border-spacing: 0;
}

body {
    font-size: 12px;
    font-family: "微软雅黑";
    /* line-height: 20px; */
}


/* 取消加粗 */

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: normal;
}


/* 超链接 */

a {
    text-decoration: none;
    color: #fff;
}


/* 取消项目符号 */

ul li,
ol li {
    list-style: none;
}

img {
    /* 解决浏览器图片有边距的bug*/
    vertical-align: top;
    border: 0;
}


/* 高度塌陷 */

.clearfix::after {
    content: " ";
    overflow: hidden;
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
}


/* 浮动 */

.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/* 取消倾斜 */

i {
    font-style: normal;
}


/*表单 去掉最外层点击得边框*/

input,
select,
textarea,
button {
    outline: none;
}


/* 弹性布局 底部居中对齐 */

.disbottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* 弹性布局 水平、垂直居中对齐  */

.disbottom {
    display: flex;
    justify-content: center;
    align-items: center;
}