body {
    user-select: none;
    background: #f6f1eb;
    overflow-x: hidden;
}

#wrap {
    width: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 88;
    height: 110px;
}

#header a {
    color: black;
}

.head-box {
    height: 100%;
}

.head {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.head-box {
    z-index: 20;
    background: #f6f1eb;
    /* box-shadow: 0 8px 16px rgb(217 207 196 / 15%); */
    position: relative;
}

.head-box-text {
    height: 15%;
    position: relative;
}

.Classification a {
    display: block;
}

.Classification a img {
    transition: transform .6s;
}

.Classification a:hover img {
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    transform: translate3d(0, -6px, 0);
}

.head-box-text a {
    top: 14px;
    right: 0;
    position: absolute;
}

.head-box-text a span:nth-of-type(1) {
    padding-right: 40px;
}

.head-box-text a span:nth-of-type(2):hover {
    text-decoration: underline;
}

#search {
    float: left;
}

.logo {
    position: absolute;
    left: 48%;
    top: 50%;
}

.login-registered {
    float: right;
}

#search input {
    width: 100px;
    height: 30px;
    margin-top: 45px;
    padding-left: 30px;
    border: 1px solid #999;
    border-radius: 20px;
    background: url(../images/search.png) no-repeat 5px;
    background-size: 20px;
    transition: width .4s;
}

#search input:hover {
    width: 350px;
}

.login-registered {
    width: 160px;
    font-size: 16px;
    margin-top: 4%;
}

.login-registered a span {
    padding-right: 10px;
}

.login-registered a {
    float: left;
}

.login-registered a:nth-of-type(2) {
    float: right;
}


/* 介绍文字 */

.introduce {
    margin-top: 6%;
    text-align: center;
}

.introduce p:nth-of-type(3) a {
    color: black;
}

.introduce p:nth-of-type(1) {
    font-size: 30px;
    font-weight: 400;
    padding-top: 3%;
    padding-bottom: 1%;
}

.introduce p:nth-of-type(2) {
    padding-bottom: 10px;
    font-size: 14px;
}

.introduce p:nth-of-type(3) {
    font-size: 14px;
}

.introduce pp:nth-of-type(3) span {
    color: #444;
}

.introduce p:nth-of-type(3):hover {
    text-decoration: underline;
}


/*  */

.swiper-button-next,
.swiper-button-prev {
    color: rgb(97, 10, 10)!important;
}

.swiper-container {
    width: 85%;
    margin-top: 3%;
    margin-bottom: 10%;
}

.swiper-container img {
    width: 100%;
}


/* 商品主页展示页面 */

#Classification-of-goods {
    width: 85%;
    margin: 0 auto 5% auto;
}

#Classification-of-goods div {
    float: left;
    margin-bottom: 1.5%;
    position: relative;
    transition: top .6s;
}

.Classification {
    display: block;
    width: 23%;
}

.Classification img {
    width: 100%;
    height: 100%;
}

.distance1 {
    margin: 0 2.6% 0 2.6%;
}

.distance2 {
    margin-left: 2.6%;
}

#Classification-of-goods p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
}


/*  */

#Time-style {
    background: #fffcf7;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.the-article p:nth-of-type(1) {
    font-size: 1.5%;
    font-weight: 400;
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: .7%;
}

.the-article p:nth-of-type(2) {
    padding-bottom: 10px;
    font-size: 14px;
}

.the-article p:nth-of-type(3) {
    font-size: 14px;
    cursor: pointer;
}

.the-article p:nth-of-type(3):hover {
    text-decoration: underline;
}

.lazyloaded {
    width: 85%;
    margin: 0 auto;
}

.lazyloaded img {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2.5%;
    width: 100%;
    transition: top .6s;
}

.block-edito {
    text-align: center;
    width: 85%;
    margin: 4.5% auto;
    /* background: #fffcf7; */
    position: relative;
}

.the-article {
    text-align: center;
}

.the-article p {
    position: relative;
    transition: top .6s;
}

.imgs {
    width: 45%;
    float: left;
}

.imgs img {
    width: 100%;
    height: 100%;
}

.donngh p {
    position: relative;
    transition: .6s;
}

.push-merch-col-products {
    float: right;
    width: 42.5%;
}

.push-merch-col-products .left1 {
    float: left;
    margin-left: 2%;
}

.push-merch-col-products .right1 {
    float: right;
}

.push-merch-col-products a {
    width: 45%;
}

.push-merch-col-products a img {
    position: relative;
    transition: top .7s;
    width: 100%;
    height: 100%;
}

.push-merch-col-products a {
    color: black;
    font-size: 16px;
}

.push-merch-col-products a p {
    position: relative;
    transition: .7s;
}

.push-merch-col-products p:nth-of-type(1) {
    color: #6c6b6a;
    padding-left: 3px;
}

.push-merch-col-products p:nth-of-type(2) {
    color: #454545;
    padding-bottom: 1.5%;
}

.block-push {
    margin-top: 2%;
}

.block-push .imgs {
    position: relative;
    transition: top .6s;
}

.tran p {
    position: relative;
    transition: top .6s;
}


/* background: #fffcf7; */

.bgcolor-edito {
    width: 85%;
    background: #fffcf7;
    margin: 5% auto 5% auto;
}

.imgs1 img {
    margin: 0 auto;
    display: block;
    width: 70%;
    margin-top: 3%;
    padding-bottom: 4%;
    position: relative;
    transition: top .8s;
}

#footer {
    background: #fff;
    width: 100%;
}

.footer-content,
.a-left {
    width: 70%;
    margin: 0 auto;
}

.footer-content {
    text-align: center;
    padding-top: 2.8%;
    padding-bottom: 2.8%;
    border-bottom: 1px solid #999;
}

.footer-content p:nth-of-type(1) {
    font-size: 18px;
}

.footer-content p:nth-of-type(2) {
    font-size: 12px;
    margin: 1% 0 1% 0;
}

.To-subscribe-to {
    background: #444;
    width: 250px;
    height: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 10px;
}

.To-subscribe-to span {
    color: #fff;
}

#footer a {
    color: black;
}

.a-left-text {
    float: left;
}

.a-right-icon {
    float: right;
}

.a-left-text,
.a-right-icon {
    padding: .5% 0 .5% 0;
}

.a-right-icon a .iconfont {
    font-size: 20px;
}

.clear-content {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 12%;
    background: url(https://www.hermes.cn/sites/all/themes/custom/hermes/img/hermes-logo.svg) no-repeat 50% 50%;
}

.scroll-block {
    width: 30px;
    height: 80px;
    text-align: center;
    line-height: 40px;
    border-radius: 15px;
    position: fixed;
    color: black;
    cursor: pointer;
    right: 3%;
    bottom: 10%;
    box-shadow: -5.557px 5.755px 13px rgb(89 66 34 / 47%);
}